<main>
  <header>
    <app-header></app-header>
  </header>



  <section class="maincontent-wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="maincotnent shadow-z-1">
            <div class="mainmenu">

              <app-navbar></app-navbar>

              <ng-content></ng-content>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>




  <footer>
    <app-footer></app-footer>
  </footer>
</main>
