<section *ngIf="superHero">
  <div class="row">
    <div class="col-md-3">
      <img height="100%" width="100%" [src]="superHero?.thumbnail.path + '.' + superHero?.thumbnail.extension" />
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <h1 class="d-inline">{{ superHero?.name }}</h1>
          <a class="d-inline icon-button" (click)="removeFavorite()"><i class="fa fa-star fa-2x"></i></a>
          <a class="d-inline icon-button" (click)="addToFavorites()"><i class="fa fa-star-o fa-2x"></i></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>{{ superHero?.description }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="btn btn-primary" (click)="openDetails(detail)">Comics</button>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #detail let-modal>
  <app-details [popup]="modal" [superHeroId]="superHero.id" [superHeroName]="superHero.name"></app-details>
</ng-template>
