<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-6 col-lg-offset-1">
        <div class="footer-wid">
          <h2 class="wid-title">A<span>vengers</span></h2>
          <p>A superhero (sometimes rendered super-hero or super hero or Super) is a type of heroic stock 
            character, usually possessing supernatural or superhuman powers, who is dedicated to fighting 
            the evil of their universe, protecting the public, and usually battling super-villains. A female 
            superhero is sometimes called a super-heroine (also rendered super-heroine or super heroine), 
            although the word superhero is also commonly used for females. Superhero fiction is the genre
            of fiction that is centered on such characters, especially in American comic book and films since 
            the 1930s.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="footer-bottom">
          <div class="row">
            <div class="col-md-8">
              <div class="copyright-text">
                <p>© 2018 Avengers - Coded with <i class="fa fa-heart"></i> by <a
                    href="http://wpexpand.com" target="_blank">Cindy Jane and Izabelle Otoni</a></p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="social-links footer-social-links">
                <a class="btn social-link" href="javascript:void(0)"><i class="fa fa-facebook"></i>
                  <div class="ripple-wrapper"></div>
                </a>
                <a class="btn social-link" href="javascript:void(0)"><i class="fa fa-twitter"></i>
                  <div class="ripple-wrapper"></div>
                </a>
                <a class="btn social-link" href="javascript:void(0)"><i class="fa fa-google-plus"></i>
                  <div class="ripple-wrapper"></div>
                </a>
                <a class="btn social-link" href="javascript:void(0)"><i class="fa fa-youtube"></i>
                  <div class="ripple-wrapper"></div>
                </a>
                <a class="btn social-link" href="javascript:void(0)"><i class="fa fa-linkedin"></i>
                  <div class="ripple-wrapper"></div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
