<header class="header">
  <div data-velocity="-.4" id="particles" class="header-bg"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="social-links">
          <a class="btn social-link" href="javascript:void(0)"
            ><i class="fa fa-facebook"></i>
            <div class="ripple-wrapper"></div>
          </a>
          <a class="btn social-link" href="javascript:void(0)"
            ><i class="fa fa-twitter"></i>
            <div class="ripple-wrapper"></div>
          </a>
          <a class="btn social-link" href="javascript:void(0)"
            ><i class="fa fa-google-plus"></i>
            <div class="ripple-wrapper"></div>
          </a>
          <a class="btn social-link" href="javascript:void(0)"
            ><i class="fa fa-youtube"></i>
            <div class="ripple-wrapper"></div>
          </a>
          <a class="btn social-link" href="javascript:void(0)"
            ><i class="fa fa-linkedin"></i>
            <div class="ripple-wrapper"></div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="site-title-table">
    <div class="site-title-tablecell">
      <div class="slide-text">
        <h2>
          <a [routerLink]="'/home'"><span>S</span>uper<span>H</span>eros</a>
        </h2>
        <p>Another exciting superhero blog</p>
        <h3 *ngIf="authService.userState | async">Welcome SuperHero: {{ (authService.userState | async)?.displayName }}!</h3>
      </div>
    </div>
  </div>
</header>
