<div class="row">
  <div class="col-md-12">
    <div class="article-list">
      <div class="entry-title text-center">
        <p>who we are?</p>
        <h2>About the Avengers</h2>
      </div>

      <div class="entry-featured-content shadow-z-2">
        <img class="img-responsive" src="assets/img/about.jpg" alt="">
      </div>

      <div class="entry-content">
        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
          ut aliquip ex ea commodo consequat. </p>

        <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
          aliquam erat volutpat. </p>

        <blockquote>
          <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna
            aliquam erat volutpat. </p>
        </blockquote>

        <p>Ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum
        </p>
      </div>


    </div>
  </div>
</div>
